[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = {version = "~=2.0", extras=["asyncio", "mypy"]}
aiosqlite = "~=0.19"
alembic = "~=1.10"
fastapi = "==0.92.0"
greenlet = "~=2.0" # required by SQLAlchemy: https://docs.sqlalchemy.org/en/20/orm/extensions/asyncio.html
gunicorn = "~=20.1"
loguru = "~=0.6"
passlib = {version = "~=1.7", extras = ["bcrypt"]}
pydantic = {version = "~=1.10", extras=["dotenv"]}
python-jose = {version = "~=3.3", extras = ["cryptography"]}
uvicorn = "~=0.21.0"
websockets = "~=11.0"



[dev-packages]
black = "~=23.1"
httpx = "~=0.23"
hypothesis = "~=6.68"
isort = "~=5.12"
mypy = "~=1.0"
pre-commit = "~=3.1"
pydantic-factories = "~=1.17"
pytest = "~=7.2"
pytest-cov = "~=4.0"
pytest-env = "~=0.8"
pytest-lazy-fixture = "~=0.6"
pytest-mock = "~=3.10"
ruff = "~=0.0.261"
sqlalchemy-stubs = "~=0.4"
types-passlib = "~=1.7"
types-python-jose = "~=3.3"


[requires]
python_version = "3.11"
